<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dbappagendajava</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="com/umariana/jee/agenda/pojo/Tactividad.hbm.xml"/>
    <mapping resource="com/umariana/jee/agenda/pojo/Tunidadmedida.hbm.xml"/>
    <mapping resource="com/umariana/jee/agenda/pojo/Tactividadpresupuesto.hbm.xml"/>
    <mapping resource="com/umariana/jee/agenda/pojo/Tusuarioamigotelefono.hbm.xml"/>
    <mapping resource="com/umariana/jee/agenda/pojo/Tusuario.hbm.xml"/>
    <mapping resource="com/umariana/jee/agenda/pojo/Tactividadparticipante.hbm.xml"/>
    <mapping resource="com/umariana/jee/agenda/pojo/Tactividadcomentario.hbm.xml"/>
    <mapping resource="com/umariana/jee/agenda/pojo/Tusuarioamigo.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
